*{
    background-color: #eeeeee;
    padding: 0;
}
body{
    margin: 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Header{
    padding: 0px;
    overflow: hidden;
    background: #333366;

}

.Header *{
    color: #eeeeee;
    background-color: transparent;
}
header h1{
    font-size: 300%;
    margin: 0;
}
.FloatingFigure img{
    display: inline-block;
    position: relative;
    float: left;
    width: 250px;
    padding-bottom: 20px;


}
.FloatingFigure{
    padding-left:20px;

    margin-left: 5%;
}
.Contact {
    display: inline-block;
    position: relative;
    font-style: italic;
    font-size: small;
    line-height: 1.2;
    float:right;
    margin: 0px;
    padding:10px;
}


article *{

    color: #000033;
}
.Content{
    width: 90%;
    margin-left: 5%;
    padding: 20px 20px 20px 20px;
}

.italic{
    font-style: italic;
}

.Date{
    text-align: left;

}
section p{
    position: relative;
}
section{
    padding-bottom: 10px;
    overflow: hidden;
    text-align: left;
    font-size: 125%;
    line-height: 0.6;
}

footer{
    margin:0;
    text-align: left;
    background-color: #330033;
    padding: 20px;
}
footer *{
    background-color: transparent;
    color: #CCCCCC;
}

footer ul{
    list-style: none;
}